
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #964a4a;
    color:black;
}
.container{
    width: 350px;
    height: auto;
    margin:80px auto;
    padding: 30px 50px 50px 50px;
    border-radius: 14px;
    background: -webkit-linear-gradient(325deg, #874343, #a14f4f);
    background: -o-linear-gradient(325deg, #874343, #a14f4f);
    background: linear-gradient(55deg, #874343, #a14f4f);
    box-shadow:  5px 5px 10px #4a2424,
             -5px -5px 10px #e37070;
}
h1, h4 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    text-shadow:  5px 5px 10px #4a2424,
             -5px -5px 10px #e37070;
}
h4{
    visibility: hidden;
}

textarea {
    width: 300px;
    padding: 15px 15px 0px;
    margin-left: 20px;
    border-radius: 8px;
    background: -webkit-linear-gradient(325deg, #874343, #a14f4f);
    background: -o-linear-gradient(325deg, #874343, #a14f4f);
    background: linear-gradient(55deg, #874343, #a14f4f);
    box-shadow: inset 5px 5px 10px #4a2424,
            inset -5px -5px 10px #e37070;
    resize: none;
    outline: none;
    color: black;
    border: none;
    font-size: 18px;
    text-align: right;
}
 textarea::placeholder{
     color: black;
 }

.button-part {
    width: 300px;
    margin: 40px auto 25px;
}
button {
    width: 60px;
    height: 60px;
    margin: 6px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 14px;
    background: linear-gradient(145deg, #874343, #a14f4f);
    box-shadow:  5px 5px 10px #4a2424,
             -5px -5px 10px #e37070;
    border: none;
}
button:hover{
    background: linear-gradient(145deg, #874343, #a14f4f);
    box-shadow: inset 5px 5px 10px #4a2424,
            inset -5px -5px 10px #e37070;
    border: none;
}
